* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sidebar {
  width: 360px;
  background-color: #f9fafc;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  overflow: scroll;
}

.side-head {
  position: fixed;
  top: 0;
  width: 360px;
  height: 160px;
  background-color: #f9fafc;
}

.side-head > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.side-head > div > h1 {
  font-size: 28px;
  font-weight: 600;
  color: #4b4b4b;
}

.profile svg {
  width: 30px;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  background-color: #edf0f3;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 18px;
}

.search-bar input::placeholder {
  font-size: 12px;
  color: #7c7c7c;
  font-weight: 400;
}

.search-bar svg {
  width: 18px;
  color: gray;
  border: none;
}

.contact-list {
  margin-top: 160px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 3px solid #f9fafc;
  cursor: pointer;
  transition-duration: 200ms;
}

.contact:hover {
  border-right: 3px solid rgb(48, 144, 255);
  background-color: #ececec;
}

.contact h2 {
  font-size: 20px;
  color: #303030;
  font-weight: 700;
}

.contact div p {
  color: rgb(126, 126, 126);
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
}
.contact p {
  color: rgb(189, 189, 189);
  font-size: 10px;
  font-weight: 400;
}

.contact:last-of-type {
  border-bottom: 1px solid rgb(230, 230, 230);
}

/* CHAT */

.chat {
  position: relative;
  left: 360px;
  background-color: #f2f8fd;
  min-height: 100vh;
  width: calc(100vw - 360px);
}

.chat-head {
  position: fixed;
  padding: 20px;
  top: 0;
  background-color: #ffffff;
  width: calc(100vw - 360px);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.message-input {
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: calc(100vw - 360px);
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
}

.message-input textarea {
  width: calc(100% - 40px);
  border: 1px solid rgb(83, 172, 255);
  border-radius: 6px;
  min-height: 80px;
  resize: none;
  font-size: 18px;
}

.message-input button {
  background-color: rgb(255, 255, 255);
  border: none;
  width: 20px;
  margin: 0 10px;
}

.message-input button img {
  width: 30px;
}
